@import "_base";

.sales {
  background-color: $widget-sales-bg;
}
.orders {
  background-color: $widget-orders-bg;
}
.purchase {
  background-color: $widget-purchase-bg;
}
.earnings {
  background-color: $widget-earnings-bg;
}
