
@import "_base";

h4{
  font-size: $header-label;
}
#table-outer-div thead th { 
  position: sticky; 
  top: 0; 
}

/* Just common table stuff. Really. */
table  { 
  border-collapse: collapse; 
  width: 100%; 
  overflow-y: auto; 
}
th { 
  background:$table-header-bg; 
}
th, td {
  text-align: left;
  padding: 8px;
}
thead {
  background-color: $table-header-bg;
}
tbody {
  background-color:$table-invoived-row-bg; 
}
.table>thead>tr>th{
  font-size: $table-font-size;
  border-top: 0px solid $main-bg;
  border-bottom:10px solid $main-bg;
  color:$table-header-font;
} 
.table>tbody>tr>td{
  font-size: $table-font-size;
  border-top:5px solid $main-bg;   
  color:$table-row-font-color;
}
.table > tbody > tr:hover {
  background-color: $header-bg;
}
.table > tbody > tr:hover, .table > tbody > tr:hover span  {
  background-color: $header-bg;
}
.txt-right{
  text-align: right;
}
// iPhone media query start

// iPhone 6, 7, & 8 in portrait & landscape
@media only screen and (min-width: 375px) and (max-width: 667px) { 
  h3 {
     font-size:12px;
 }
 .table>tbody>tr>td{
 font-size:10px;
 }
 .table>thead>tr>th{
   font-size:10px;
 } 
 }

 // iPhone 6, 7, & 8 Plus in portrait & landscape
@media only screen and (min-width: 414px) and (max-width: 736px) { 
  h3 {
     font-size:12px;
 }
 .table>tbody>tr>td{
 font-size:10px;
 }
 .table>thead>tr>th{
   font-size:10px;
 } 
 }


 // iPhone X in landscape & iPhone X in portrait
@media only screen and (min-width: 375px) and (max-width: 812px) { 
  h3 {
     font-size:12px;
 }
 .table>tbody>tr>td{
 font-size:10px;
 }
 .table>thead>tr>th{
   font-size:10px;
 } 
 }


// iPhone 5 & 5S in portrait & landscape
@media only screen and (min-width: 320px) and (max-width: 568px) { 
  h3 {
     font-size:12px;
 }
 .table>tbody>tr>td{
 font-size:10px;
 }
 .table>thead>tr>th{
   font-size:10px;
 } 
 }
 // iPhone 2G-4S in portrait
 @media only screen and (min-width: 320px) and (max-width: 480px) { 
  h3 {
     font-size:12px;
 }
 .table>tbody>tr>td{
 font-size:10px;
 }
 .table>thead>tr>th{
   font-size:10px;
 } 
 }

 // iPhone media query end

 // Galaxy S6

 // Xperia Z3

 // Lumia 920

 // Nexus 6

 // Iphone 6 Plus

 // Galaxy Note 4 

 // Galaxy Note II 

 // iPad Air

 // Galaxy Tab 2 10.1

 // Galaxy Nexus 7

 // Kindle Fire

 // Kindle Fire HD 7"

 // Kindle Fire HD 8.9"
