
@import "_base";

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

table  { 
  border-collapse: collapse; 
  width: 100%; 
  margin-top: 1rem;
}
th { 
  background:$table-header-bg; 
}
th, td {
  text-align: left;
  padding: 8px;
}
thead {
  background-color: $table-header-bg;
}
tbody {
  background-color:$table-invoived-row-bg; 
}
.table>thead>tr>th{
  font-size: $table-font-size;
  border-top: 0px solid $main-bg;
  border-bottom:10px solid $main-bg;
  color:$table-header-font;
} 
.table>tbody>tr>td{
  font-size: $table-font-size;
  border-top:5px solid $main-bg;   
  color:$table-row-font-color;
  vertical-align: middle;
}

table tbody tr td span{
  display: block !important;
}

table tbody tr:hover td span{
  display: block !important;
}

.create-button {
  overflow: visible;
  white-space: nowrap;
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  float: right;
  color: $white;
  background: $btn-bg;
  border: 1px solid $btn-bg;
  border-radius: $btn-border-radius;
  padding: 0.5rem 1.5rem;
  font-size: 14px;
  margin-top: 12px;
  margin-right: 10px;
}

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.update-btn{
  width: 100px;
  height: 30px;
  line-height: 30px; 
  font-weight: normal;
  float: right;
}

.edit-delete-icon {
  display: none;
  background: $table-invoived-row-bg;
  position: relative;
  height: 20px;
  top: 0px;
  margin-top: -18px;
}

.fa-trash {
  cursor: pointer;
  text-align: center;
  font-size: 18px;
}