<div class="row">
  <div class="col-6">
      <h2 class="m-t-20px">User Management</h2>
  </div>
  <div class="col-6">
      <button (click)="addUserMgt()" class="create-button" placement="bottom" 
        ngbTooltip="Add User" triggers="hover" [disabled]="this.userList.length == 5">Add  
      </button>
  </div>
</div>    

<table class="table" id="table" *ngIf="enable">
    <thead>
      <tr>
        <th>User Name</th>
        <th>Password</th>
        <th>Department Name</th>
        <th>Access</th>
        <th>Action</th>
      </tr>
  </thead>
  <tbody *ngFor="let u of userList; let i = index"> 
      <tr>
        <td>{{u.username}}</td>
        <td>{{u.password}}</td>
        <td>{{u.departmentname}}</td>
        <td>
          <button class="btn btn-outline-primary mb-2 mr-2" 
          (click)="openScrollableContent(longContent,u.id)">menu</button>



          
          <ng-template #longContent let-modal>
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table style="border: 1px solid black !important;">
                <tr>
                  <th style="border: 1px solid black;">Menu</th>
                  <th style="border: 1px solid black;">Sub Menu</th>
                </tr>
                <tr>
                  <td style="border: 1px solid black;width: 50%;" *ngIf="u.menuItem1 !== 'MEN0' ">
                    <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                      (click)="getupdatemenu0($event.target.checked)">
                    <label style="margin-left: 20px;">  {{this.model.menu1}} </label> 
                  </td>
                  <td style="border: 1px solid black;width: 50%;" *ngIf="u.menuItem1 === 'MEN0' ">
                    <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2" 
                      (click)="getupdatemenu0($event.target.checked)">
                    <label style="margin-left: 20px;">  {{this.model.menu1}} </label> 
                  </td>
                  <td style="border: 1px solid black;width: 50%;"></td>
                </tr>
                <tr>
                  <td style="border: 1px solid black;width: 50%;" *ngIf="u.menuItem2 !== 'MEN0' ">
                    <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                      (click)="getupdatemenu1($event.target.checked)">
                    <label style="margin-left: 20px;">  {{this.model.menu2}} </label> 
                  </td>
                  <td style="border: 1px solid black;width: 50%;" *ngIf="u.menuItem2 === 'MEN0' ">
                    <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                      (click)="getupdatemenu1($event.target.checked)">
                    <label style="margin-left: 20px;">  {{this.model.menu2}} </label> 
                  </td>
                  <td style="border: 1px solid black;width: 50%;"></td>

                </tr>
                <tr>
                  <td style="border: 1px solid black;width: 50%;" *ngIf="u.menuItem3 !== 'MEN0' ">
                    <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                      (click)="getupdatemenu2($event.target.checked)">
                    <label style="margin-left: 20px;">  {{this.model.menu3}} </label>   
                  </td>
                  <td style="border: 1px solid black;width: 50%;" *ngIf="u.menuItem3 === 'MEN0' ">
                    <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                      (click)="getupdatemenu2($event.target.checked)">
                    <label style="margin-left: 20px;">  {{this.model.menu3}} </label>   
                  </td>
                  <td style="border: 1px solid black;width: 50%;"></td>
                </tr>
                <tr> 
                  <td style="border: 1px solid black;width: 50%;" *ngIf="u.menuItem4 !== 'MEN0' ">
                    <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                      (click)="getupdatemenu3($event.target.checked)">
                    <label style="margin-left: 20px;">  {{this.model.menu4}} </label> 
                  </td>
                  <td style="border: 1px solid black;width: 50%;" *ngIf="u.menuItem4 === 'MEN0' ">
                    <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                      (click)="getupdatemenu3($event.target.checked)">
                    <label style="margin-left: 20px;">  {{this.model.menu4}} </label> 
                  </td>
                  <td style="border: 1px solid black;width: 50%;">
                    <div *ngIf="u.purchasesubmenu1 !== 'SUBMEN0' ">
                      <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                        (click)="getPurchasesubmenu1($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.purchasesubmenu1}} </label> 
                    </div>
                    <div *ngIf="u.purchasesubmenu1 === 'SUBMEN0' ">
                      <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                        (click)="getPurchasesubmenu1($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.purchasesubmenu1}} </label> 
                    </div>
                    <div *ngIf="u.purchasesubmenu2 !== 'SUBMEN0' ">
                      <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                        (click)="getPurchasesubmenu2($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.purchasesubmenu2}} </label> 
                    </div>
                    <div *ngIf="u.purchasesubmenu2 === 'SUBMEN0' ">
                      <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                        (click)="getPurchasesubmenu2($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.purchasesubmenu2}} </label> 
                    </div>
                    <div *ngIf="u.purchasesubmenu3 !== 'SUBMEN0' ">
                      <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                        (click)="getPurchasesubmenu3($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.purchasesubmenu3}} </label> 
                    </div>
                    <div *ngIf="u.purchasesubmenu3 === 'SUBMEN0' ">
                      <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                        (click)="getPurchasesubmenu3($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.purchasesubmenu3}} </label> 
                    </div>
                    <div *ngIf="u.purchasesubmenu4 !== 'SUBMEN0' ">
                      <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                        (click)="getPurchasesubmenu4($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.purchasesubmenu4}} </label> 
                    </div>
                    <div *ngIf="u.purchasesubmenu4 === 'SUBMEN0' ">
                      <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                        (click)="getPurchasesubmenu4($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.purchasesubmenu4}} </label> 
                    </div>

                  </td>
                </tr>
                <tr>
                  <td style="border: 1px solid black;width: 50%;" *ngIf="u.menuItem5 !== 'MEN0' ">
                    <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                      (click)="getupdatemenu4($event.target.checked)">
                    <label style="margin-left: 20px;">{{this.model.menu5}}</label>
                  </td>
                  <td style="border: 1px solid black;width: 50%;" *ngIf="u.menuItem5 === 'MEN0' ">
                    <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                      (click)="getupdatemenu4($event.target.checked)">
                    <label style="margin-left: 20px;">{{this.model.menu5}}</label>
                  </td>
                  <td style="border: 1px solid black;width: 50%;">
                    <div *ngIf="u.productsubmenu1 !== 'SUBMEN0' ">
                      <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                        (click)="getProductsubmenu1($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.productsubmenu1}} </label> 
                    </div>
                    <div *ngIf="u.productsubmenu1 === 'SUBMEN0' ">
                      <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                        (click)="getProductsubmenu1($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.productsubmenu1}} </label> 
                    </div>
                    <div *ngIf="u.productsubmenu2 !== 'SUBMEN0' ">
                      <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                        (click)="getProductsubmenu2($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.productsubmenu2}} </label> 
                    </div>
                    <div *ngIf="u.productsubmenu2 === 'SUBMEN0' ">
                      <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                        (click)="getProductsubmenu2($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.productsubmenu2}} </label> 
                    </div>
                    <div *ngIf="u.productsubmenu3 !== 'SUBMEN0' ">
                      <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                        (click)="getProductsubmenu3($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.productsubmenu3}} </label> 
                    </div>
                    <div *ngIf="u.productsubmenu3 === 'SUBMEN0' ">
                      <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                        (click)="getProductsubmenu3($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.productsubmenu3}} </label> 
                    </div>
                  </td>
                </tr>
                <tr>
                  <td style="border: 1px solid black;width: 50%;" *ngIf="u.menuItem6 !== 'MEN0' ">
                    <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                      (click)="getupdatemenu5($event.target.checked)">
                    <label style="margin-left: 20px;">{{this.model.menu6}}</label>
                  </td>
                  <td style="border: 1px solid black;width: 50%;" *ngIf="u.menuItem6 === 'MEN0' ">
                    <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                      (click)="getupdatemenu5($event.target.checked)">
                    <label style="margin-left: 20px;">{{this.model.menu6}}</label>
                  </td>
                  <td style="border: 1px solid black;width: 50%;">
                    <div *ngIf="u.salessubmenu1 !== 'SUBMEN0' ">
                      <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                        (click)="getSalessubmenu1($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.salessubmenu1}} </label> 
                    </div>
                    <div *ngIf="u.salessubmenu1 === 'SUBMEN0' ">
                      <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                        (click)="getSalessubmenu1($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.salessubmenu1}} </label> 
                    </div>
                    <div *ngIf="u.salessubmenu2 !== 'SUBMEN0' ">
                      <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                        (click)="getSalessubmenu2($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.salessubmenu2}} </label> 
                    </div>
                    <div *ngIf="u.salessubmenu2 === 'SUBMEN0' ">
                      <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                        (click)="getSalessubmenu2($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.salessubmenu2}} </label> 
                    </div>
                    <div *ngIf="u.salessubmenu3 !== 'SUBMEN0' ">
                      <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                        (click)="getSalessubmenu3($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.salessubmenu3}} </label> 
                    </div>
                    <div *ngIf="u.salessubmenu3 === 'SUBMEN0' ">
                      <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                        (click)="getSalessubmenu3($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.salessubmenu3}} </label> 
                    </div>
                    <div *ngIf="u.salessubmenu4 !== 'SUBMEN0' ">
                      <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                        (click)="getSalessubmenu4($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.salessubmenu4}} </label> 
                    </div>
                    <div *ngIf="u.salessubmenu4 === 'SUBMEN0' ">
                      <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                        (click)="getSalessubmenu4($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.salessubmenu4}} </label> 
                    </div>
                    <div *ngIf="u.salessubmenu5 !== 'SUBMEN0' ">
                      <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                        (click)="getSalessubmenu5($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.salessubmenu5}} </label> 
                    </div>
                    <div *ngIf="u.salessubmenu5 === 'SUBMEN0' ">
                      <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                        (click)="getSalessubmenu5($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.salessubmenu5}} </label> 
                    </div>
                    <div *ngIf="u.salessubmenu6 !== 'SUBMEN0' ">
                      <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                        (click)="getSalessubmenu6($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.salessubmenu6}} </label> 
                    </div>
                    <div *ngIf="u.salessubmenu6 === 'SUBMEN0' ">
                      <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                        (click)="getSalessubmenu6($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.salessubmenu6}} </label> 
                    </div>
                  </td>
                </tr>
                <tr>
                  <td style="border: 1px solid black;width: 50%;" *ngIf="u.menuItem7 !== 'MEN0' ">
                    <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                      (click)="getupdatemenu6($event.target.checked)">
                    <label style="margin-left: 20px;">{{this.model.menu7}}</label>
                  </td>
                  <td style="border: 1px solid black;width: 50%;" *ngIf="u.menuItem7 === 'MEN0' ">
                    <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                      (click)="getupdatemenu6($event.target.checked)">
                    <label style="margin-left: 20px;">{{this.model.menu7}}</label>
                  </td>
                  <td style="border: 1px solid black;width: 50%;"></td>
                </tr>
                <tr> 
                  <td style="border: 1px solid black;width: 50%;" *ngIf="u.menuItem8 !== 'MEN0' ">
                    <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                      (click)="getupdatemenu7($event.target.checked)">
                    <label style="margin-left: 20px;">  {{this.model.menu8}} </label> 
                  </td>
                  <td style="border: 1px solid black;width: 50%;" *ngIf="u.menuItem8 === 'MEN0' ">
                    <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                      (click)="getupdatemenu7($event.target.checked)">
                    <label style="margin-left: 20px;">  {{this.model.menu8}} </label> 
                  </td>
                  <td style="border: 1px solid black;width: 50%;">
                    <div *ngIf="u.financesubmenu1 !== 'SUBMEN0' ">
                      <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                        (click)="getFinancesubmenu1($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.financesubmenu1}} </label> 
                    </div>
                    <div *ngIf="u.financesubmenu1 === 'SUBMEN0' ">
                      <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                        (click)="getFinancesubmenu1($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.financesubmenu1}} </label> 
                    </div>
                    <div *ngIf="u.financesubmenu2 !== 'SUBMEN0' ">
                      <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                        (click)="getFinancesubmenu2($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.financesubmenu2}} </label> 
                    </div>
                    <div *ngIf="u.financesubmenu2 === 'SUBMEN0' ">
                      <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                        (click)="getFinancesubmenu2($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.financesubmenu2}} </label> 
                    </div>
                    <div *ngIf="u.financesubmenu3 !== 'SUBMEN0' ">
                      <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                        (click)="getFinancesubmenu3($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.financesubmenu3}} </label> 
                    </div>
                    <div *ngIf="u.financesubmenu3 === 'SUBMEN0' ">
                      <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                        (click)="getFinancesubmenu3($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.financesubmenu3}} </label> 
                    </div>
                    <div *ngIf="u.financesubmenu4 !== 'SUBMEN0' ">
                      <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                        (click)="getFinancesubmenu4($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.financesubmenu4}} </label> 
                    </div>
                    <div *ngIf="u.financesubmenu4 === 'SUBMEN0' ">
                      <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                        (click)="getFinancesubmenu4($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.financesubmenu4}} </label> 
                    </div>
                  </td>
                </tr>
                <tr> 
                  <td style="border: 1px solid black;width: 50%;" *ngIf="u.menuItem9 !== 'MEN0' ">
                    <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                      (click)="getupdatemenu8($event.target.checked)">
                    <label style="margin-left: 20px;">  {{this.model.menu9}} </label> 
                  </td>
                  <td style="border: 1px solid black;width: 50%;" *ngIf="u.menuItem9 === 'MEN0' ">
                    <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                      (click)="getupdatemenu8($event.target.checked)">
                    <label style="margin-left: 20px;">  {{this.model.menu9}} </label> 
                  </td>
                  <td style="border: 1px solid black;width: 50%;">
                    <div *ngIf="u.reportsubmenu1 !== 'SUBMEN0' ">
                      <input type="checkbox" [checked]="true" class="custom-control-input1" id="customChecks2"
                        (click)="getReportsubmenu1($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.reportsubmenu1}} </label> 
                    </div>
                    <div *ngIf="u.reportsubmenu1 === 'SUBMEN0' ">
                      <input type="checkbox" [checked]="false" class="custom-control-input1" id="customChecks2"
                        (click)="getReportsubmenu1($event.target.checked)">
                      <label style="margin-left: 20px;">  {{this.model.reportsubmenu1}} </label> 
                    </div>
                  </td>
                </tr>
              </table>
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <button class="create-button" (click)="updateUser(u.id)">Modify</button>
                </div>
                <div class="col-4"></div>
              </div> 
            </div>

            <div class="modal-footer"></div>
          </ng-template>

        </td>
        <td>
          <span class="edit-delete-icon user-icon">        
            <!-- <span class="fas fa-pen" placement="bottom" ngbTooltip="Modify User" triggers="hover" (click)="updateuser(u.id)" ></span> -->
            <span placement="bottom" ngbTooltip="Remove User" triggers="hover" (click)="removeuser(u.id)" class="fas fa-trash"></span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
