
<div class="row">
  <div class="col-4">
    <h4>Purchase Return List</h4> 
  </div>
</div>

<div class="row">
  <div class="search-box" *ngIf="returntable">
    <input class="global-search-box" type="search" id="search" name="search" 
    (input)="onSearchChange($event.target.value)"
    autocomplete="off" placeholder="Search Vendor" />
    <i class="fas fa-search search-icon" aria-hidden="true"></i>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table" *ngIf="returntable">
      <thead>
        <tr>
          <th>Return #</th>
          <th>Vendor Name</th>
          <th>Product Name</th>
          <th>Invoiced Date</th>
          <th class="txt-right">Quantity Invoiced</th>
          <th class="txt-right">Quantity Returned</th>
          <th></th>
          <th>Status</th>
          <th>Payment Method</th>
        </tr>
    </thead>
    <tbody *ngFor="let ret of poreturnList; let i = index"> 
        <tr>
          <td>{{ret.invoicenumber}}</td>
          <td>{{ret.vendorname}}</td>
          <td>{{ret.itemname}}</td>
          <td>{{ret.invoiceddate}}</td>
          <td class="txt-right">{{ret.invoicedqty}}</td>
          <td class="txt-right">{{ret.qty}}</td>
          <td></td>
          <td>{{ret.itemStatus}}</td>
          <td>{{ret.returnStatus}}
            <span class="edit-delete-icon user-icon">
              <span class="fas fa-trash" placement="bottom" ngbTooltip="Remove Purchase Return" (click)="removeReturn(ret.id,ret.invoicenumber)"></span>
              <span class="fas fa-pen" placement="bottom" ngbTooltip="Modify Purchase Reurn" (click)="modifyReturn(ret.id, ret)" ></span>
            </span>
          </td>
        </tr>
      
      </tbody>
    </table>
  </div>
</div>





