<div class="row" id="headerdiv">
  <div class="col-4">
    <h4>Sales Order List</h4> 
  </div>
  <div class="col-8">
    <div style="float: right;">
      <button id="delete" [disabled]="!isDeleteButton ? true:false" [ngStyle]="getDeleteButtonStyle()" placement="bottom" ngbTooltip="Remove Sales">
        <i class="fas fa-trash"></i>
      </button>
      <button [disabled]="!isCreateReturn ? true:false"
        (click)="createReturn()" placement="bottom" ngbTooltip="Create Sales Return"
        class="create-button" [ngStyle]="getCreateReturnStyle()">
          Return
      </button>
      <button  
        [disabled]="!isCreateInvoice ? true:false" 
        class="create-button" placement="bottom" ngbTooltip="Create Sales Invoice" 
        [ngStyle]="getCreateInvoiceStyle()"
        (click)="createInvoice()"
        >
        Invoice
      </button>

      <button  (click)="addSalesOrder(null,null)" [disabled]="isAddSalesOrder" class="create-button" 
      placement="bottom" ngbTooltip="Add Sales Order" [ngStyle]="getAddSalesOrderStyle()">
        <span class="fas fa-plus"></span> Add
      </button> 
    </div>
  </div>
</div>	

<div class="row">
  <div class="search-box" *ngIf="salesTable">
    <input class="global-search-box" type="search" id="search" name="search" 
    (input)="onSearchChange($event.target.value)"
    autocomplete="off" placeholder="Search Customer Name" />
    <i class="fas fa-search search-icon" aria-hidden="true"></i>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table" *ngIf="salesTable">
      <thead>
        <tr>
          <th>
            <!-- <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input1" id="customChecks2">
              <label class="custom-control-label1" for="customCheck2"></label>
            </div> -->
          </th>
          <th style="cursor:pointer;">Number</th>
          <th style="cursor:pointer;">Date
            <i *ngIf="!isSortDateDesc" class="sort-by-desc" (click)="sortByOrder('date','desc')"></i>
          <i class="sort-by-asc" *ngIf="!isSortDateAsc" (click)="sortByOrder('date','asc')"></i>
          </th>
          <th style="cursor:pointer;">Status
            <i *ngIf="!isSortStatusDesc" class="sort-by-desc" (click)="sortByOrder('status','desc')"></i>
            <i class="sort-by-asc" *ngIf="!isSortStatusAsc" (click)="sortByOrder('status','asc')"></i>
          </th>
          <th>Customer</th>
          <th>Category</th>
          <th>Product Name</th>
          <th class="txt-right">Quantity</th>
          <th class="txt-right wid-130px">Sub Total</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of salesOrderList; let i = index"
        id="purchase-order-row-id{{i}}" (dblclick)="salesflow(detailContent,item)" > 
        <tr>
          <td>
            <div class="custom-control custom-checkbox">
              <label>
                <input type="checkbox" class="custom-control-input1" id="customCheck{{i}}" 
                (click)="rowSelected(i,item, $event.target.checked)">
              </label>
            </div>
          </td>
          <td>{{item.socode}}</td>
          <td>
            <span [ngClass]="item.status !== 'Open' ? 'font-norm' : 'font-bld'">{{item.date | date : 'dd/MM/yyyy'}}</span>
          </td>
          <td>
            <span *ngIf="item.status === 'Open'" class="open-status">{{item.status}}</span>
            <span *ngIf="item.status === 'Invoiced'" class="invoice-status">{{item.status}}</span>
            <span *ngIf="item.status === 'Returned'" class="return-status">{{item.status}}</span>
          </td>
          <td>{{item.customername}}</td>
          <td><span [ngClass]="item.status !== 'Open' ? 'font-norm' : 'font-bld'">{{item.categoryname}}</span></td>
          <td><span [ngClass]="item.status !== 'Open' ? 'font-norm' : 'font-bld'">{{item.productname}}</span></td>
          <td class="txt-right">{{item.qty}}</td>
          <td class="txt-right wid-130px">{{item.subtotal}}
            <span class="edit-delete-icon user-icon" *ngIf="isCheckedArr.length === 0 && item.status === 'Open'">
              <span class="fas fa-pen mar-let-40px" placement="bottom" ngbTooltip="Modify Sales Order" (click)="addSalesOrder(item.id, item)" ></span>
              <span class="fas fa-trash" placement="bottom" ngbTooltip="Remove Sales Order" (click)="removeSalesOrder(item.id)"></span>
            </span>
          </td>
        </tr>
      
      </tbody>
    </table>
  </div>
</div>
  
<ng-template #detailContent let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" id="center">
      <svg height="100" width="100">
        <circle cx="50" cy="50" r="40" stroke-width="3" fill="#1186aa" />    
        <text x="50%" y="50%" text-anchor="middle" stroke-width="2px" dy=".3em" style="font-size: 12px;color:white">Order</text>
        Sorry, your browser does not support inline SVG.  
      </svg>
      
      <svg height="100" width="100">
        <defs>
           <marker id="arrowhead" stroke="#1186aa" markerWidth="10" markerHeight="7"
             refX="10" refY="3.5" orient="auto">
             <polygon points="0 0, 10 3.5, 0 7" />
           </marker>
         </defs>
        
          <path d="M 0 50 l 100 0" marker-end="url(#arrowhead)"
           stroke="#1186aa" stroke-width="1" fill="none" />
          Sorry, your browser does not support inline SVG.
       </svg>
      
      
      <svg height="100" width="100">
        <circle cx="50" cy="50" r="40" stroke-width="3" fill="#1186aa" />    
        <text x="50%" y="50%" text-anchor="middle" stroke-width="2px" dy=".3em" style="font-size: 12px;">Invoice</text>
        Sorry, your browser does not support inline SVG.  
      </svg>
      
      <svg height="100" width="100">
        <path d="M 0 50 l 100 0" marker-end="url(#arrowhead)"
          stroke="#1186aa" stroke-width="1" fill="none" />
        Sorry, your browser does not support inline SVG.
      </svg>
      
      <svg height="100" width="100">
        <circle cx="50" cy="50" r="40" stroke-width="3" fill="#1186aa" />     
        <text x="50%" y="50%" text-anchor="middle" stroke-width="2px" dy=".3em" style="font-size: 12px;">Return</text>
        Sorry, your browser does not support inline SVG.  
      </svg>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-3">
        <label class="lbl">Sales Ordered</label>
      </div>
      <div class="col-4" *ngIf="this.model.status == 'Invoiced' || this.model.status == 'Returned' ">
        <label class="lbl">Sales Invoiced</label>
      </div>
      <div class="col-4" *ngIf="this.model.status === 'Open' ">
        <label class="lbl">Not done</label>
      </div>
      <div class="col-3" *ngIf="this.model.status == 'Returned' ">
        <label class="lbl">Sales Returned</label>
      </div>
      <div class="col-3" *ngIf="this.model.status === 'Invoiced' || this.model.status == 'Open' ">
        <label class="lbl">Not done</label>
      </div>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-3">
        <label class="lbl">Date : {{ this.model.orderdate | date : 'dd/MM/yyyy' }}</label>
      </div>
      <div class="col-4" *ngIf="this.model.type == 'Invoice' ">
        <label class="lbl">Date : {{ this.model.invoicedate }}</label>
      </div>
      <div class="col-4" *ngIf="this.model.status === 'Open' "></div>
      <div class="col-3" *ngIf="this.model.rettype == 'Return' ">
        <label class="lbl">Date : {{ this.model.returndate }}</label>
      </div>
      <div class="col-3" *ngIf="this.model.status === 'Invoiced' || this.model.status == 'Open' "></div>
    </div>

  </div>
</ng-template>