@import "_base";
.box{
  background: rgb(37, 63, 75);
  width: 25rem;
  margin-left: 300px;
  border-radius: $dialog-border-radius;
  margin-top: 10rem;
  font-family: Open Sans;
}
.text{
  color:#d6d8da;
  font-family: Open Sans;
  float: left;
  padding-left: 1.2rem;
  font-weight: bold;
  font-size: 16px;
}
.datetext{
  color: #627580;
  float: right;
  //padding-right: 2.5rem;
}
.reasonTxt{
  border-radius: 8px;
  border: 1px solid #1C313E;
  background: #1C313E;
  width: 84%;
  height: 7em;
  color: #d6d8da;
  padding: 3px 15px;
  font-size: 16px;
}
button{
  background: #1C313E;
  border: 1px solid #1C313E;
  width: 10%;
  height: 2rem;
  font-size: 15px;
  border-radius: $btn-border-radius;
  font-weight: bold;
}
#absent{
  background: #1186AA;
  border: 1px solid #1186AA;
  color: #d6d8da;
  font-size: 16px;
  width: 12rem;
  height: 2rem;
}
::placeholder {
  color: #8D9BA4;
  font-size: 15px;
}

.col-12 {
  padding-top: 15px;
}

.close {
  background: none !important;
  border: none !important;
 }

#popup-close  {
  color: $white;
  font-size: 20px;
}

#error-msg  {
  color: #d84048;
}

#employee-report-box {
  position:absolute; top:10px; z-index: 1;
}

::ng-deep .dailyreport .modal-dialog {
  max-width: 80%;
  width: 50% !important;
}
.modal-header,.modal-body {
  background:$po-order-form-bg;
  padding: 0.5rem;
  border: 1px solid $po-order-form-bg;
}
::ng-deep .dailyreport .modal-content {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background:$po-order-form-bg;
}