@import "_base";

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
span{
  color:white;
  font-size: 12px;
  margin: 5px 0px;
}
.spanerror{
  background-color: $error-code;
}
.spanerror1{
  background-color: $error-code;
  margin-left: 8.3vh;
}

#h2ID{
  color:$h2-bg;
  font-family: $font-family;
  font-size: 20px;
  margin-top: 0px;
  font-weight: bold;
}
#error{
  color:red;
  font-family: $font-family;
  float: right;
  margin-top: -25px;
  font-size: 14px;
}
#pID{
  color:$h2-bg;
  font-family: $font-family;
  font-size: 20px;
  font-weight: bold;
  float: right;
}
#totID{
  color:$h2-bg;
  font-family: $font-family;
  font-size: 20px;
  font-weight: bold;
  float: right;
  margin-left: 50vh;
}
#date-box{
  color:$h2-bg;
}

#po-label{
  color:#7a8992;
  width: 100%;
  margin-bottom: 4px;
}
#po-price{
  color: $white;
  width: 35%;
  margin-bottom: 4px;
}
#po-textbox{
  color:$h2-bg;
  background: $po-order-form-bg;
  width: 100%;
  color: #fff; 
  padding: 0px 5px;
  margin-bottom: 15px;
  height: 30px;
}
hr{
  width: 100%;
  background-color:#4D616D;
}
select,input{
  border: 1px solid  #2C4655;
}
#selected-box{
  width: 100%;
  background: $po-order-form-bg;
  color:$h2-bg;
  margin-bottom: 15px;
  height: 32px;
  padding: 0px 5px;
}
.m-t-5px{margin-top: 5px;}
.m-t-15px{margin-top: 15px;}
.m-t-20px{margin-top: 20px !important;}
#options-box{
  width: 100%;
  height: 1.5rem;
  background: none;
  color:$h2-bg;
}

#add-text{
  text-align: center;
  margin: 6px;
  cursor: pointer;
}

#add-btn{
  width: 90px;
  border: 1px solid #1186aa;
  background: $btn-bg;
  color:$h2-bg;
  font-weight: bold;
  border-radius: 20px;
}


body {background-color: #16222B;}

#date-borderbox{
  width: 100%;
  border: 1px solid  #2C4655;
  margin-bottom: 15px;
  height: 30px;
  padding: 5px;
}

.text-field-align{padding: 1px 8px; height: 25px;}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column1 {
  float: left;
  width: 40%;
  padding: 10px;
}

#font-size{
  font-size: 12px;
  color: #6E7D87;
}

#add-btn[disabled] {
  //background-color: #FF85A1;
  background-color: #6E7D87;
  cursor: not-allowed;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.update-btn{
  width: 100px;
  height: 30px;
  line-height: 30px; 
  font-weight: normal;
  float: right;
}

::ng-deep .modal-class .modal-dialog {
  max-width: 80%;
  width: 50% !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.modal-header,.modal-body {
  background:$po-order-form-bg;
  padding: 0.5rem;
  border: 1px solid $po-order-form-bg;
}
.modal-footer {
  border: 1px solid $po-order-form-bg;
}
::ng-deep .modal-class .modal-content {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background:$po-order-form-bg;
}
.close-x{
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  text-shadow: 0 1px 0 #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}