* {
  font-size: 13px;
  color: white;
}
h2 {
  font-size: 30px;
  font-weight: bold;
}
.mat-table {
  background: #686868;
}
table.mat-table {
  width: 100%;
}
table th,
td {
  border-left: 1px solid #b8bdc1;
  text-align: center;
}
.mat-elevation-z8 {
  width: 100%;
  height: 48%;
  margin-left: 8px;
  background: #686868;
  overflow-y: scroll;
  overflow-x: hidden;
}
mat-form-field {
  width: 180px;
}
tr:nth-child(even) {
  background-color: #39434d;
}
tr:nth-child(odd) {
  background-color: #434f5b;
}
tr.mat-header-row {
  background: #21272d;
}
.mat-input-element {
  font: inherit;
  font-family: fontawesome;
  background: white;
  color: black;
  height: 35px;
  outline: 0;
  margin: 10;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: start;
  border-radius: 6px;
  padding: 11px;
  margin-top: -10px;
}
tr.mat-row {
  cursor: pointer;
}
::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
    background-color: #1B2931 !important;
}
::ng-deep .mat-form-field-empty.mat-form-field-label {
    color: white;
}

#financebackground1 {
  background-color: #243641;
  width: 97%;
  height: 100%;
  margin: 10px;
}
#financebackground2 {
  background-color: #1b2931;
  width: 95%;
  height: 83%;
  margin-left: 22px;
}
#text-size {
  font-size: x-large;
  font-weight: bold;
  margin: 15px;
}
#back-btn {
  height: 30px;
  width: 100px;
  background: #243641;
  border: 1px solid white;
  text-align: center;
  margin: auto;
}
#purchase-text {
  font-weight: bold;
  height: 3px;
}
#button-printpage {
  height: 25px;
  width: 100px;
  border: 1px solid;
  cursor: pointer;
  margin: auto;
}
#purchaseorder-detailbackcolor {
  height: 74%;
  width: 95%;
  background: #151f25;
}
#purchaseorderdetail-text {
  font-weight: bold;
  height: 3px;
  text-align: center;
}
#fontsize-12 {
  font-size: 12px;
}
hr {
  background: #8a8f92;
  width: 88%;
  height: 0px;
  margin-left: auto;
  margin-right: auto;
}
#font-weight {
  font-weight: bold;
}
#purchase-summarybox {
  width: 85%;
  height: 70%;
  background: #10181c;
  margin: auto;
}
#purchaseordersum-text {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
#date-box1 {
  height: 20px;
  background: white;
  width: 35%;
  margin: 3px;
}
#date-box2 {
  height: 20px;
  background: white;
  width: 35%;
  margin: 3px;
}
#second-h2 {
  width: 7%;
  height: 1px;
  background: white;
  margin: auto;
}
#debcred-box {
  width: 50%;
  height: 100px;
  background: #10181c;
}
#debcred-box2 {
  width: 50%;
  height: 100px;
  background: #151f25;
}
#border-bottom {
  border-bottom: 1px solid;
  height: 23px;
}
#orderlist-box {
  height: 65px;
  border: 1px solid white;
  overflow-y: scroll;
  overflow-x: hidden;
}
#fontsize-10 {
  font-size: 10px;
  height: 2px;
}
#icon-align {
  margin: 5px;
}
