<div class="row">
  <div class="col-2"></div>
  <div class="col-2">
    <label class="heading">Promotion Type</label>
  </div>
  <div class="col-7">
    <input type="radio" class="regular-radio" value="discount" 
      [(ngModel)]="model.promotionType" #promotionType="ngModel" name="promotionType"
      (ngModelChange)="getpromotionlist(model.promotionType)">
    <label for="damaged" id="radiolabel">Discount</label>
    &nbsp;&nbsp;&nbsp;

    <input type="radio" class="regular-radio" value="freegift" 
      [(ngModel)]="model.promotionType" #promotionType="ngModel" name="promotionType"
      (ngModelChange)="getpromotionlist(model.promotionType)">
    <label for="expired" id="radiolabel">Freegift</label>
  </div>
</div>
<div *ngIf="promotiondiv">
  <br/>
  <!--  FreeGift Table Start -->
  <div  *ngIf="freegiftTable">
    <!-- <kendo-grid id="grid" class="k-grid"
        [kendoGridBinding]="freegiftgridView"
        kendoGridSelectBy="id"
        [selectedKeys]="freegiftSelection"
        [pageSize]="20"
        [pageable]="true"
        [sortable]="true"
        [resizable]="true"
        [columnMenu]="{ filter: true }" >
        <ng-template kendoGridToolbarTemplate>
            <input placeholder="Search in all columns..." kendoTextBox (input)="onFreegiftFilter($event.target.value)" style="border-color: 1px solid #2C4655 !important;" />
            <button kendoGridExcelCommand type="button" icon="file-excel" style="float:right; border-color: none;
            color: none;background-color: none;
            background-image: none;">Export to Excel</button>
            <button kendoGridPDFCommand icon="file-pdf" style="float:right; border-color: none;
            color: none;background-color: none;
            background-image: none;">Export to PDF</button>
        </ng-template>

        <kendo-grid-column [headerStyle]="{'background-color': '#17252F','color': '#97A4AC','line-height': '1em',
          'border-top' : '0px solid #15222B'}"
          [style]="{'background-color': '#1A2D39','color': '#fff','border-top': '5px solid #15222B'}"
          field="categorycode" title="Category Name" [width]="130">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{'background-color': '#17252F','color': '#97A4AC','line-height': '1em',
          'border-top' : '0px solid #15222B'}"
          [style]="{'background-color': '#1A2D39','color': '#fff','border-top': '5px solid #15222B'}"
          field="productname" title="Product Name" [width]="200">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{'background-color': '#17252F','color': '#97A4AC','line-height': '1em',
          'border-top' : '0px solid #15222B'}"
          [style]="{'background-color': '#1A2D39','color': '#fff','border-top': '5px solid #15222B'}"
          field="freegift" title="Free Gift" [width]="130">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{'background-color': '#17252F','color': '#97A4AC','line-height': '1em',
          'border-top' : '0px solid #15222B'}"
          [style]="{'background-color': '#1A2D39','color': '#fff','border-top': '5px solid #15222B'}"
          field="fromdate_promotionperiod" title="From Promotion Period" [width]="200">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{'background-color': '#17252F','color': '#97A4AC','line-height': '1em',
          'border-top' : '0px solid #15222B'}"
          [style]="{'background-color': '#1A2D39','color': '#fff','border-top': '5px solid #15222B'}"
          field="todate_promotionperiod" title="To Promotion Period" [width]="200">
        </kendo-grid-column>
        
        <kendo-grid-pdf fileName="FreeGift.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
        <kendo-grid-excel fileName="FreeGift.xlsx"></kendo-grid-excel>
    </kendo-grid> -->
    
  </div>
  <!--  FreeGift Table End -->

  <!--  Discount Table Start -->
  <div  *ngIf="discountTable">
    <!-- <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <h4>Discount List</h4> 
      </div>
    </div> -->
    <!-- <table class="table" id="table">
      <thead>
        <tr>
          <th>Category Name</th>
          <th>Product Name</th>
          <th>Discount Quantity</th>
          <th>Promotion Period</th>
        </tr>
    </thead>
    <tbody *ngFor="let d of discountList; let i = index"> 
        <tr>
          <td>{{d.categorycode}}</td>
          <td>{{d.productname}}</td>
          <td>{{d.qty}}</td>
          <td>{{d.fromdate_promotionperiod | date : 'dd-MM-yyyy'}} &nbsp; to &nbsp; {{d.todate_promotionperiod | date : 'dd-MM-yyyy'}}</td>
        </tr>
      </tbody>
    </table> -->
    <!-- <kendo-grid
        [kendoGridBinding]="gridView"
        kendoGridSelectBy="id"
        [selectedKeys]="mySelection"
        [pageSize]="20"
        [pageable]="true"
        [sortable]="true"
        [groupable]="true"
        [reorderable]="true"
        [resizable]="true"
        [height]="480"
        [columnMenu]="{ filter: true }" > -->
      <!-- <kendo-grid id="grid" class="k-grid"
        [kendoGridBinding]="gridView"
        kendoGridSelectBy="id"
        [selectedKeys]="mySelection"
        [pageSize]="20"
        [pageable]="true"
        [sortable]="true"
        [resizable]="true"
        [columnMenu]="{ filter: true }" >
        <ng-template kendoGridToolbarTemplate>
            <input placeholder="Search in all columns..." kendoTextBox (input)="onDiscountFilter($event.target.value)" style="border-color: 1px solid #2C4655 !important;" />
            <button kendoGridExcelCommand type="button" icon="file-excel" style="float:right; border-color: none;
            color: none;
            background-color: none;
            background-image: none;">Export to Excel</button>
            <button kendoGridPDFCommand icon="file-pdf" style="float:right; border-color: none;
            color: none;
            background-color: none;
            background-image: none;">Export to PDF</button>
        </ng-template>

        <kendo-grid-column [headerStyle]="{'background-color': '#17252F','color': '#97A4AC','line-height': '1em',
          'border-top' : '0px solid #15222B'}"
          [style]="{'background-color': '#1A2D39','color': '#fff','border-top': '5px solid #15222B'}"
          field="categorycode" title="Category Name" [width]="130">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{'background-color': '#17252F','color': '#97A4AC','line-height': '1em',
          'border-top' : '0px solid #15222B'}"
          [style]="{'background-color': '#1A2D39','color': '#fff','border-top': '5px solid #15222B'}"
          field="productname" title="Product Name" [width]="200">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{'background-color': '#17252F','color': '#97A4AC','line-height': '1em',
          'border-top' : '0px solid #15222B'}"
          [style]="{'background-color': '#1A2D39','color': '#fff','border-top': '5px solid #15222B'}"
          field="qty" title="Promoton Quantity" [width]="130">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{'background-color': '#17252F','color': '#97A4AC','line-height': '1em',
          'border-top' : '0px solid #15222B'}"
          [style]="{'background-color': '#1A2D39','color': '#fff','border-top': '5px solid #15222B'}"
          field="fromdate_promotionperiod" title="From Promotion Period" [width]="200">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="{'background-color': '#17252F','color': '#97A4AC','line-height': '1em',
          'border-top' : '0px solid #15222B'}"
          [style]="{'background-color': '#1A2D39','color': '#fff','border-top': '5px solid #15222B'}"
          field="todate_promotionperiod" title="To Promotion Period" [width]="200">
        </kendo-grid-column>
        
        <kendo-grid-pdf fileName="Discount.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
        <kendo-grid-excel fileName="Discount.xlsx"></kendo-grid-excel>
    </kendo-grid> -->
  </div>
  <!--  Discount Table End -->
</div>

