<div class="modal-header">
  <div class="container">
    <h4 class="modal-title" id="modal-basic-title">{{fromParent.dialogTitle}}</h4>
    <h5 id="error" *ngIf="noavailableqty">This product has no Quantity.</h5>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true" class="close-x">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <form name="purchaseForm" (ngSubmit)="purchaseForm.form.valid && addPurchaseOrder(fromParent)"
      #purchaseForm="ngForm" novalidate>       
      <div>
        <div class="row">
          <div class="col-6">
            <label id="po-label">Date </label>
            <div id="date-borderbox" class="text-field-align">
              <div id="date-box" *ngIf="fromParent.id === undefined">{{purchaseDate | date : 'dd-MM-yyyy'}}</div>
              <div id="date-box" *ngIf="fromParent.id !== ''">{{fromParent.date | date : 'dd-MM-yyyy'}}</div>
            </div>

            <label id="po-label">Product Category</label>
            <select id="selected-box" class="m-t-5px" [(ngModel)]="model.category" #category="ngModel" name="category"
              (ngModelChange)="getNetAmount(model.productName,model.qty,model.category)" autocomplete="off" required>
              <option id="options-box" [ngValue]="undefined" hidden selected> Select Category </option>
              <option id="options-box" *ngFor="let itemcategory of productList" 
              [value]="itemcategory.categoryname+'-'+itemcategory.categorycode">
              {{ itemcategory.categoryname }}</option>                     
            </select> 
            <div *ngIf="category.errors && (category.dirty || category.touched) ||
              (purchaseForm.submitted && !category.valid )">
              <span [hidden]="!category.errors.required" class="spanerror">
                  Required field cannot be left blank
              </span>
            </div>

            <label id="po-label">Quantity</label>
            <input type="number" min="0" id="po-textbox" class="m-t-5px" [(ngModel)]="model.qty" #qty="ngModel" 
              name="qty" (ngModelChange)="getNetAmount(model.productName,model.qty,model.category)" 
              autocomplete="off" required  />
            <div *ngIf="qty.errors && (qty.dirty || qty.touched) ||
              (purchaseForm.submitted && !qty.valid )">
              <span [hidden]="!qty.errors.required" class="spanerror">
                  Required field cannot be left blank
              </span>
            </div>

            <!-- name="qty" (input)="onSubTotalCalc($event.target.value, 'qty')"> -->

            <label id="po-label" *ngIf="productchosendiv">Unit :  {{ this.model.unit }} </label>
            <!-- <p style="font-size: 12px;">0.003</p>
            <input type="number" min="0" id="po-textbox" style="width:100%;border: none !important;" 
              [(ngModel)]="model.price" #price="ngModel" name="price" 
              (input)="onSubTotalCalc($event.target.value, 'price')"> -->
          </div>
          <div class="col-6">
            <label id="po-label">Vendor</label>
            <select id="selected-box" class="text-field-align" [(ngModel)]="model.vendorName" #vendorName="ngModel" name="vendorName"
              (ngModelChange)="getVendorProduct(this.model.vendorName)"
              autocomplete="off" required >
              <option id="options-box" [value]="null"  class="text-field-align">Select Vendor</option>
              <option id="options-box" *ngFor="let item of vendorList" 
                [value]="item.vendorName+'-'+item.vendorcode"> {{item.vendorName}} 
              </option>
            </select>
            <div *ngIf="vendorName.errors && (vendorName.dirty || vendorName.touched) ||
              (purchaseForm.submitted && !vendorName.valid )">
              <span [hidden]="!vendorName.errors.required" class="spanerror">
                  Required field cannot be left blank
              </span>
            </div>

            <label id="po-label">Product </label>
            <select id="selected-box" class="m-t-5px" [(ngModel)]="model.productName" #productName="ngModel" name="productName"
              (ngModelChange)="getNetAmount(model.productName,model.qty,model.category)" autocomplete="off" required>
              <option id="options-box" [ngValue]="undefined" hidden selected> Select Product </option>
              <option id="options-box" *ngFor="let item of productList" 
              [value]="item.productname+'-'+item.prodcode"> 
              {{ item.productname }} </option>
            </select>
            <div *ngIf="productName.errors && (productName.dirty || productName.touched) ||
              (purchaseForm.submitted && !productName.valid )">
              <span [hidden]="!productName.errors.required" class="spanerror1">
                  Required field cannot be left blank
              </span>
            </div>

            <label id="po-label" *ngIf="productchosendiv">Price</label>
            <label class="m-t-5px" id="po-textbox" style="border: 1px solid  #2C4655;
              padding-top: 4px;" name="price" *ngIf="productchosendiv">  {{ this.model.unitPrice }} </label>
            
          </div>
        </div>

        <hr class="hrLine">

        <div></div>
        <div class="row">
          <div class="col-6"></div>
          <div class="col-6">
            <div class="row">
              <div class="col-2"></div>
              <div class="col-3">
                <div> <p id="totID">Total</p></div>
              </div>
              <div class="col-5">
                <p id="pID" *ngIf="this.model.productName !== undefined">
                  {{ this.model.netAmount }}</p>
                <p id="pID" *ngIf="this.model.productName === undefined">
                  {{this.model.subtotal === 0 ? '0.00':this.model.subtotal}}</p>
              </div>
            </div>            
          </div>
        </div>

        <div class="update-btn" style="margin: 20px 0px;">
          <button id="add-btn" [disabled]="this.model.qty == 0">{{fromParent.dialogText}}</button>
        </div>
        <div class="update-btn" style="margin: 20px 0px;">
          <button id="add-btn" (click)="cancelPurchase()" *ngIf="fromParent.dialogText == 'Add'">Reset</button>
        </div> 

      </div>
    </form>
  </div>
</div>    