<div style="border-style: dotted;
    position: absolute;
    top: 4%;
    left: 20%;
    width:  60%;
    padding-bottom: 20px;
">
<div class="row" id="headerRow">
  <div class="col-4"></div>
  <div class="col-4">
    <h4>Purchase Invoice</h4>             
  </div>
  <div class="col-4"></div>
</div>
<br/>

<div class="row">
  <div class="col-1"></div>
  <div class="col-3" style="margin-left: inherit;">
    <fieldset class="form-group"> 
      <div class="custom-file fileInputProfileWrap">
          <p class="error">{{imageError}}</p>
          <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
          <div class="img-space">  
            <div *ngIf="div1 && !isImageSaved">
              <img id="addproductpic-box" [src]="getImage(model.companylogo)" 
                onerror="this.src='/assets/images/no-image.png'" class="img-responsive" />
            </div> 
            <div *ngIf="isImageSaved">
              <img id="addproductpic-box" [src]="cardImageBase64" />
            </div>  
            <div *ngIf="!isImageSaved && !div1">    
              <img id="addproductpic-box" src="./../../assets/images/placeholder.png" class="img-responsive"> 
            </div>
          </div>
       
      </div>
    </fieldset>
    <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a> 
  </div>
  <div class="col-2"></div>
  <div class="col-6" style="margin-right: inherit;">
    <table>
      <tr>
        <th scope="row" id="thead">Invoice Number</th>
        <td id="tdbody">INVP10000(sample)</td>
      </tr>
      <tr>
        <th scope="row" id="thead">Date </th>
        <td id="tdbody">04/08/2020(sample)</td>
      </tr>
      <tr>
          <th scope="row" id="thead">Terms</th>
          <td id="tdbody">10 days(sample)</td>
      </tr>
      <tr>
          <th scope="row" id="thead">Status</th>
          <td id="tdbody">delivered(sample)</td>
      </tr>
      <tr>
          <th scope="row" id="thead">Delivery Price</th>
          <td id="tdbody">100(sample)</td>
      </tr>
  </table>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-lg-6" style="margin-left: inherit;">
    <div class="biilingdetails">
        <p style="font-weight: bold;text-decoration: underline;">Billing To:</p>
        <p>Agro Jaya Komoditi,</p>
        <p>Tembilahan Riau, Kunigan City,</p>
        <p>Indonesia,</p>
        <p>Phone : +62 81268060697,</p>
        <p>Email : test@mail.com</p>
    </div>
  </div>
  <div class="col-6">
    <form name="templateForm" (ngSubmit)="templateForm.form.valid && addTemplateDetails()"
    #templateForm="ngForm" novalidate>  
      <div class="row" id="companyRow">
        <div class="col-6">
          <label style="color:#97A4AC">Company Name :</label>
        </div>
        <div class="col-5">
          <input type="text" id="textbox" name="companyname"  [(ngModel)]="this.model.companyname" 
            #companyname="ngModel" autocomplete="off" required/>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row" id="companyRow">
        <div class="col-6">
          <label style="color:#97A4AC">Address 1:</label>
        </div>
        <div class="col-5">
          <input type="text" name="address" id="textbox" [(ngModel)]="this.model.address" 
            #address="ngModel" autocomplete="off"/>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row" id="companyRow">
        <div class="col-6">
          <label style="color:#97A4AC">Address 2:</label>
        </div>
        <div class="col-5">
          <input type="text" name="city" id="textbox" [(ngModel)]="this.model.city" 
            #city="ngModel" autocomplete="off"/>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row" id="companyRow">
        <div class="col-6">
          <label style="color:#97A4AC">Country Name :</label>
        </div>
        <div class="col-5">
          <input type="text" name="country" id="textbox" [(ngModel)]="this.model.country" 
            #country="ngModel" autocomplete="off"/>
        </div>
        <div class="col-1"></div>
      </div>

      <div class="row">
        <div class="col-8"></div>
        <div class="col-3">
          <button class="create-button">
            {{ btnlabel }}
          </button>
        </div>
        <div class="col-1"></div>
      </div>
    </form>

  </div>
</div>
<br/>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th style="border: 1px solid black;">NO</th>
        <th style="border: 1px solid black;">PRODUCT NAME</th>
        <th style="border: 1px solid black;">QTY</th>
        <th style="border: 1px solid black;">UNIT PRICE</th>
        <th style="border: 1px solid black;">TOTAL</th>
      </tr>
    </thead>
    <tbody> 
      <tr>
        <td>1(sample)</td>
        <td>iPhone(sample)</td>
        <td>100(sample)</td>
        <td>5000(sample)</td>
        <td>500000(sample)</td>
      </tr>
    </tbody>
  </table>
</div>
<br/><br/>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th style="border: 1px solid black;">Sub Total</th> 
        <th style="border: 1px solid black;">Discount</th>
        <th style="border: 1px solid black;">Shipping</th>
        <th style="border: 1px solid black;">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="tdbody">5000000(sample)</td>
        <td id="tdbody">0(sample)</td>
        <td id="tdbody">100(sample)</td>
        <td id="tdbody">5000100(sample)</td>
      </tr>
    </tbody>
  </table>
</div>
</div>




