<!-- <form name="formReg">
  <div class="tab-content-bg p-3">
    <div class="row">
      <div class="col">
        <ng-container [ngSwitch]="true">
          <ng-container *ngSwitchCase="isEditMode">
            Edit Employee Detail
          </ng-container>
          <ng-container *ngSwitchCase="isAddNew">
            Add Employee
          </ng-container>
          <ng-container *ngSwitchDefault>
            Employee Detail
          </ng-container>
        </ng-container>
      </div>
      <div class="col px-3">
        <span class="row m-0">
          <ng-container [ngSwitch]="true">
            <ng-container *ngSwitchCase="isEditMode"
              ><span class="col px-2">
                <button
                  class="col btn-red transparent-border"
                  (click)="deleteEmployeeEmitter()"
                >
                  <i class="fas fa-trash"></i>
                  Delete
                </button>
              </span>
              <span class="col px-2">
                <button
                  class="col btn-green transparent-border"
                  (click)="saveEmployee()"
                >
                  <i class="fas fa-save"></i>
                  Save
                </button>
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="isAddNew"
              ><span class="col px-2">
                <button
                  class="col btn-red transparent-border"
                  (click)="cancelAddNew()"
                >
                  <i class="fas fa-trash"></i>
                  Delete
                </button>
              </span>
              <span class="col px-2">
                <button
                  class="col btn-green transparent-border"
                  (click)="saveEmployee()"
                >
                  <i class="fas fa-save"></i>
                  Save
                </button>
              </span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <span class="col px-2">
                <button class="col" (click)="toggleEditMode()">
                  <i class="fas fa-edit"></i>
                  Edit
                </button>
              </span>
              <span class="col px-2">
                <button class="col" (click)="printPage(EmployeeDetail)">
                  <i class="fas fa-print"></i>
                  Print Page
                </button>
              </span>
            </ng-container>
          </ng-container>
        </span>
      </div>
    </div>
    <ng-container *ngTemplateOutlet="EmployeeDetail"></ng-container>
    <ng-template #EmployeeDetail>
      <div class="three-column max-height-adjust mt-3">
        <div
          *ngFor="
            let fieldLabel of fieldLabels | idFilter;
            trackBy: trackByIndex
          "
          class="mb-3 pr-4"
        >
          <div
            *ngIf="
              !(
                isAddNew &&
                (fieldLabel === 'code' ||
                  fieldLabel === 'doj' ||
                  fieldLabel === 'absentDedution')
              )
            "
            class="mb-1"
          >
            {{ ts.translate(fieldLabel) }}
          </div>
         Validation for photo and input fields -->
         <!--<ng-container [ngSwitch]="true">
            <img
              *ngSwitchCase="fieldLabel === 'photo'"
              [src]="employee[fieldLabel]"
              alt="Employee Photo"
              class="employee-photo"
            />

            <textarea
              *ngSwitchCase="fieldLabel === 'address'"
              [placeholder]="ts.translate(fieldLabel)"
              [disabled]="!isAddNew && !isEditMode"
              class="p-1"
              [value]="employee[fieldLabel]"
              [(ngModel)]="employee[fieldLabel]"
              [ngModelOptions]="{ standalone: true }"
            >
            </textarea>

            <ng-container *ngSwitchDefault>
              <input
                *ngIf="
                  !(
                    isAddNew &&
                    (fieldLabel === 'code' ||
                      fieldLabel === 'doj' ||
                      fieldLabel === 'absentDedution')
                  )
                "
                type="text"
                [placeholder]="ts.translate(fieldLabel)"
                [value]="employee[fieldLabel]"
                [disabled]="
                  !isAddNew &&
                  (!isEditMode ||
                    fieldLabel === 'code' ||
                    fieldLabel === 'doj' ||
                    fieldLabel === 'absentDedution')
                "
                [(ngModel)]="employee[fieldLabel]"
                [ngModelOptions]="{ standalone: true }"
                class="p-1"
              />
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </div>
</form>
<div class="d-flex justify-content-center">
  <button class="px-5 m-3" (click)="backToEmployeesList()">
    Back
  </button>
</div> -->

<div class="container-fluid" *ngIf="employeeDet !== undefined">
  <div class="row back-colr">
  <div class="container">
  <div> <a [routerLink]= "['/employment']" style="color: #fff;"><i class="fas fa-chevron-left left-arrow"></i></a><h3 style="float:left;"> {{employeeDet.name}}</h3> 
  <!--<button style="float:right;" class="button button5"> Add Purchase Order</button>-->
 <div style="float: right;">
 <img src="assets/images/print.png" style="margin-right: 10px;" class="img-fluid logo" alt="Print"/>
<img src="assets/images/edit.PNG" style="margin-right: 10px;" class="img-fluid logo" alt="Edit"/>
<img src="assets/images/bar.PNG" style="margin-right: 15px;margin-left: 15px;" class="img-fluid logo" />
<img src="assets/images/delete.PNG" class="img-fluid logo" alt="Delete"/>
    </div>
  </div>
  
  <div class="col-md-12 col-xs-12 col-sm-12" style="clear:both;position: relative;
  top: 10px;">
  <div class="col-md-3 col-xs-12 col-sm-3 side-wapper">
  
    <div class="org-header">
      <div>
        <img [src]="getImage(employeeDet.profilepic)" onerror="this.src='/assets/images/no-image.png'" />
      </div>
      <div>
          <h5>{{employeeDet.rank}}</h5>
          <span>{{employeeDet.employeecode}}</span>
      </div>
  </div>

    <!-- <div class="profile-div">
      <div class="text-profile">{{employeeDet.rank}}<br />
      {{employeeDet.employeecode}}</div>
    </div> -->
  
  <div style="clear:both"></div>
  <div style="margin-left:25px;">
  <div style="color: rgba(85,112,129,1);margin-top:25px;">Phone</div>
      <div style="color:#fff;">{{employeeDet.phonenumber}}</div>
	  <div style="color: rgba(85,112,129,1); margin-top:25px;">Email</div>
      <div style="color:#fff;">{{employeeDet.email}}</div>
	  <div style="color: rgba(85,112,129,1); margin-top:25px;">Address </div>
      <div style="color:#fff;">{{employeeDet.address}}</div>
 <div style="color: rgba(85,112,129,1); margin-top:25px;">Birthday</div>
      <div style="color:#fff;">{{employeeDet.dob}}</div>
	   <div style="color: rgba(85,112,129,1); margin-top:25px;">NPWP</div>
      <div style="color:#fff;">{{employeeDet.npwp}}</div>
	   <div style="color: rgba(85,112,129,1); margin-top:25px;">BPJS</div>
      <div style="color:#fff;">{{employeeDet.bpjs}}</div>
  </div>
   
  </div>
   <div class="col-md-9 col-xs-12 col-sm-9 float-left" style="position: relative;
    left: 30px;">
  <div class="col-md-12 col-xs-12 col-sm-12 side-wapper p-t-20">
 
      

  <h4 class="panel-title" style="color: rgba(85,112,129,1); margin-bottom: 20px;">
    
    <a class="collapsed" data-toggle="collapse" data-target="#collapse1" style="cursor:pointer;cursor: pointer;
    color: #fff; font-size: 18px;">Employment Details</a></h4>
  
    <div id="collapse1" class="panel-collapse collapse">
  <div class="col-md-3 float-left">
  <div class="ble-colr">Joined on</div>
  <div>{{employeeDet.addeddate}}</div>
  </div>
  <div class="col-md-3 float-left">
  <div class="ble-colr">Monthly Salary</div>
  <div>{{employeeDet.monthlysalary}}</div>
  </div>
  <div class="col-md-3 float-left">
  <div class="ble-colr">Overtime Salary</div>
  <div>-</div>
  </div>
  <div class="col-md-3 float-left">
  <div class="ble-colr">Contract Document</div>
  <div>CN-99-23430.pdf</div>
  </div>
  
  <div style="clear: both;"></div>
  </div>
  
</div>
<div class="col-md-12 col-xs-12 col-sm-12 side-wapper m-t-20 p-t-10" (click)="showDailyReport()">
 <h4 class="panel-title" style="color: rgba(85,112,129,1); margin-bottom: 20px;">
    <a data-toggle="collapse" class="collapsed" data-target="#collapse2" style="cursor:pointer;cursor: pointer;
    color: #fff; font-size: 18px;">Daily Report</a>
    <!-- <input matInput [matDatepicker]="dp" placeholder="Select minimum date" style="visibility: hidden;">
   <mat-datepicker-toggle matSuffix [for]="dp">
    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #dp disabled="false"></mat-datepicker>   -->
    
    
  </h4>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="col-md-6 float-left">
          <!-- <img src="assets/images/calender.png" style="float: left;" /> -->
          <input mdInput [matDatepicker]="picker" placeholder="Choose a date" #picker id="picker" style="visibility: hidden;" (dateInput)="addEvent('input', $event, picker)" (dateChange)="addEvent('change', $event, picker)" [(ngModel)]="_picker" [ngModelOptions]="{standalone: true}" (keydown)="false"> 
          <mat-datepicker-toggle mdSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

        </div>
        <div class="col-md-6 float-left">
<div style="font-size: 14px;">October 24, 2019</div>
<textarea class="form-control text-area-style" rows="5" id="comment">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
</textarea>
<img src="assets/images/edit.png" style="margin-right: 10px;" class="img-fluid logo" alt="Edit" style="float: right;
margin-top: 20px;"/>
</div>
        <div style="clear: both;"></div>
      </div>
</div>
   <div class="col-md-12 col-xs-12 col-sm-12 side-wapper m-t-20 p-t-10">
     
  <h4 class="panel-title" style="color: rgba(85,112,129,1); margin-bottom: 20px;">
    <a class="collapsed" data-toggle="collapse" data-target="#collapse3" style="cursor:pointer;color: #fff; font-size: 18px;">Attendance Details</a></h4>
    <div id="collapse3" class="panel-collapse collapse">
  <div class="col-md-3 float-left">
  <div class="ble-colr">Work</div>
  <div>{{employeeDet.workHour}}</div>
  </div>
  <div class="col-md-3 float-left">
  <div class="ble-colr">Annual Leave</div>
  <div>{{employeeDet.annualLeave}}</div>
  </div>
  <div class="col-md-3 float-left">
  <div class="ble-colr">Days Absent</div>
  <div>-</div>
  </div>
  <div class="col-md-3 float-left">
  <div class="ble-colr">Absent Deduction</div>
  <div>-</div>
  </div>

  <div style="clear: both;"></div>
</div>
</div>
<div class="col-md-12 col-xs-12 col-sm-12 side-wapper">
    <div class="profile-div">
  <div class="col-md-12 m-b-20px"><h5 class="float-left">{{commonService.getTodayDate() | date : 'MMMM'}} Absent Card</h5> 
    <img src="assets/images/print1.PNG" style="float: right;" class="img-fluid logo" alt="print"/></div>
    <div class="clr-both"></div>
  <ng-container *ngIf="attendanceDetails.length > 0">
    <div class="col-md-12" *ngFor="let item of attendanceDetails">
      <div class="m-t-10">
      <div class="col-md-2 float-left date-div">
        <div style="font-size: 14px;">{{item.date}}</div>
      </div>
       <div *ngIf="item.absent === null" class="col-md-5 float-left last-div">
        <div *ngIf="item.checkouttime === null" style="color:#17af7d;font-size: 14px;padding-top: 5px;">9:00 AM</div>
        <div *ngIf="item.checkintime !== null">
          <div style="color:red; font-size: 14px;">{{item.checkouttime}}</div>
          <div style="font-size: 14px;">{{item.checkoutreason}}</div>
        </div>
      </div>
      <div *ngIf="item.absent === null" class="col-md-4 float-left time-div">
        <div *ngIf="item.checkintime === null" style="color:#17af7d;font-size: 14px;padding-top: 5px;">9:00 AM</div>
        <div *ngIf="item.checkintime !== null">
          <div style="color:red;font-size: 14px;">{{item.checkintime}}</div>
          <div style="font-size: 14px;">{{item.checkinreason}}</div>
        </div>
      </div>
    </div>
      <div *ngIf="item.absent === 'yes'" class="col-md-9 float-left middle-div">
        <div>
          <span style="color:red;font-size: 14px;">ABSENT</span>
          <span style="color:red;font-size: 14px; text-align: center;">{{item.reason}}</span>
        </div>
      </div>
    </div>
    <div style="clear: both;"></div>
  </ng-container>
    </div>
  </div>
  
  </div>
  </div>
    
</div>
    </div>
  </div>
