<div>

<div class="row">
  <div class="col-4">
    <h4>Employee List</h4> 
  </div>
  <div class="col-8">
    <div style="float: right;">
      <button class="create-button" placement="bottom" ngbTooltip="Add New Employee" triggers="hover" style="float: left; margin-right: 10px; margin-top: 4px;" (click)="addEmployee()">
        <span class="fas fa-plus"></span> Add  
      </button>
      <img src="assets/images/print.png" placement="bottom" ngbTooltip="Print Employee Table" triggers="hover" 
        style="margin-right: 10px;" class="img-fluid logo" alt="print"/>
      <img src="assets/images/download.png" placement="bottom" ngbTooltip="Download Excel File" triggers="hover" 
        (click)="exportAsExcel()" class="img-fluid logo" alt="download" />
    </div>
  </div>
</div>
<div class="row">
  <div class="search-box" *ngIf="enable">
    <input class="global-search-box" type="search" id="search" name="search" 
    (input)="onSearchChange($event.target.value)"
    autocomplete="off" placeholder="Search Name " />
    <i class="fas fa-search search-icon" aria-hidden="true"></i>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <!-- <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollUpDistance]="1.5"
    [infiniteScrollThrottle]="15"
    (scrolled)="onScrollDown()"
    (scrolledUp)="onScrollUp()"
    [scrollWindow]="false"
    > -->
    <table class="table" *ngIf="enable" id="employeeReport" #employeeReport>
      <thead>
        <tr>
          <th style="width: 4% !important;"></th> 
          <th>ID #
              <i *ngIf="!isSortIdDesc" class="sort-by-desc" (click)="sortByOrder('code','desc')"></i>
              <i class="sort-by-asc" *ngIf="!isSortIdAsc" (click)="sortByOrder('code','asc')"></i>
          </th>
          <th>Name
              <i *ngIf="!isSortNameDesc" class="sort-by-desc" (click)="sortByOrder('name','desc')"></i>
              <i class="sort-by-asc" *ngIf="!isSortNameAsc" (click)="sortByOrder('name','asc')"></i>
          </th>
          <th style="width: 8%;">Email
            <i class="fa fa-filter"></i>
          </th>
          <th class="txt-right">Phone</th>
          <th></th>
          <th>Designation</th>
          <th>Joined Date</th>
          <th class="wid-75px">Status</th>
        </tr>
      </thead>
     
      <tbody *ngFor="let item of employeesDS; let i = index"
        (dblclick)= "router.navigateByUrl('/employment/viewEmployee/'+item.employeecode)"> 
        <tr>
          <td style="width: 4% !important;">
            
            <div *ngIf="item.profilepic; else employeeNoImage">
              <img  [src]="getImage(item.profilepic)" onerror="this.src='/assets/images/no-image.png'" class="emplogo" />
            </div>
            
            <!-- <ng-template #employeeNoImage>
              <img  [src]="'/assets/images/no-image.png'" class="emplogo" />
            </ng-template> -->
          </td>
          <td>{{item.employeecode}}</td>
          <td>{{item.name}}</td>
          <td style="width: 8%;">{{item.email}}</td>
          <td class="txt-right">
            <!-- <app-employee-report (closeDailyReport)="closePopup($event, i,'report')" *ngIf="showHideDailyReport[i]" [dailyReportItem]="item" [getDailyReportDetail]="getDailyReportDetail"></app-employee-report> -->
            {{item.phonenumber}}
          </td>
          <td></td>
          <td>{{item.rank}}</td>
          <td>
            <app-employee-absence *ngIf="isShowHideAbsent[i]" [absenceItem]="item" (closeAbsencePopup)="closePopup($event, i,'absence')" [getAbsentDetail]="getAbsentDetail"></app-employee-absence>
            <app-employee-checkin-checkout *ngIf="isShowHideCheckinCheckout[i]" (closeCheckinCheckoutPopup)="closePopup($event, i,'checkinCheckout')" (enableAbsentIcon)="enableAbsentIcon($event, i)" [absenceItem]="item" [getAbsentDetail]="getAbsentDetail" [currentTime]="todayTime"></app-employee-checkin-checkout>
            {{item.addeddate}}
          </td>
          <td class="wid-75px">{{item.status}}
            <span class="edit-delete-icon user-icon">
              <span class="fas fa-list-alt" placement="bottom" ngbTooltip="Add Daily Report" triggers="hover" (click)="dailyReport(i, item)"></span>
              <span class="fas fa-user-clock" placement="bottom" ngbTooltip="Add Attendance" triggers="hover" (click)="checkinCheckout(i, item)"></span>
              <span class="fas fa-calendar-times" placement="bottom" ngbTooltip="Add Absence" triggers="hover" [ngClass]="isAbsentMouseover[i] ? 'absent-disabled' : ''" (mouseover)="absentMouseover(i, item)" (click)="absentPopup(i, item)"></span>
            </span>
          </td>
        </tr>
      </tbody>

    </table>
  <!-- </div>  -->

  </div>
</div>
</div>
