<!-- <mat-tab-group
  animationDuration="0ms"
  [selectedIndex]="activeTab"
  (selectedIndexChange)="tabChanged($event)"
>
  <mat-tab
    ><ng-template mat-tab-label>Sales Order</ng-template>
    <app-salesorder></app-salesorder>-->
    <!-- <app-employee-list [tabChange]="activeTab === 0"></app-employee-list -->
  <!--</mat-tab>
  <mat-tab
    ><ng-template mat-tab-label>Sales Invoice</ng-template>
    <app-salesinvoice></app-salesinvoice>
  </mat-tab>
  
</mat-tab-group> -->
<app-saleslist></app-saleslist>
