@import "_base";

::ng-deep .addnewcategory .mat-dialog-container {
  background:$po-order-form-bg;
  border-radius: $dialog-border-radius;
  overflow: hidden;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

span{
  color:white;
  font-size: 12px;
}
.close-x{
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  text-shadow: 0 1px 0 #fff;
}

/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  font-size: 12px;
  font-family: $font-family;
  background:$po-order-form-bg;
  border: 1px solid  $header-bg; 
  color:$white;
  //border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin: 5px 0px 3px 0px;
}
button[type="submit"]{
  color: $white;
  background: $btn-bg;
  border: 1px solid $btn-bg;
  margin-right: 10px;
  font-family: $font-family;
  border-radius: $btn-border-radius;
  padding: $btn-padding;
  font-style: normal;
  font-size: $table-font-size;
}
label{
  color:$white;
}
/* Style the container for inputs */
.container {
  position: relative;
  background:$po-order-form-bg;
  padding: 20px;
}

.cdk-overlay-pane.my-dialog {
  position: relative!important;
}

.spanerror{
  background-color: $error-code;
}

.modal-header,.modal-body {
  background:$po-order-form-bg;
  padding: 0.5rem;
  border: 1px solid $po-order-form-bg;
}
.modal-footer {
  border: 1px solid $po-order-form-bg;
}

::ng-deep .my-class .modal-dialog {
  max-width: 50%;
  width: 30% !important;
}
