<div class="container">
    <!-- <button type="button" class="close" aria-label="Close" 
        (click)="addCategoryClose()" style="position: relative; left: 25px; top: -20px;">
        <span aria-hidden="true" id="close-icon">&times;</span>
    </button> -->
    <button id="x" (click)="addCategoryClose()"> X </button>
    <form name="categoryForm" 
    (submit)="categoryForm.form.valid && saveCategory()"
    #categoryForm="ngForm" novalidate>   
        <div>
           <div *ngIf="show">
            <label> Code : {{model.categorycode}} </label>
        </div>
            <input type="text"  [(ngModel)]="model.name" 
                #name="ngModel" placeholder="Enter Name"
                id="name" name="name"  autocomplete="off" required>


            <div *ngIf="name.errors  && (name.dirty || name.touched) ||
                (categoryForm.submitted && !name.valid )">
                <span [hidden]="!name.errors.required" class="spanerror">
                    Required field cannot be left blank
                </span>
            </div>

            <input type="text" [(ngModel)]="model.description" #description="ngModel"  
            id="description"
                placeholder="Enter Description" name="description" autocomplete="off">
        </div>
        <button type="submit">{{btnlabel}}</button>

    </form>
</div>
