@import "_base";

* {
  font-size: 13px;
  color: white;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

span{
  color:white;
  font-size: 12px;
  margin: 5px 0px;
}
.heading {
  color:$table-header-font !important;
}
::ng-deep .allproductedit .mat-dialog-container {
  background:$po-order-form-bg;
  width: 150vh;
  height: 100vh; 
  border-radius: $dialog-border-radius;
  padding: 17px;
}
.mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}
input, select, textarea {
  width: 80%;
  padding: 5px;
  background: none;
  border-radius: 4px;
  resize: vertical;
  color:white;
  border: 1px solid  $header-bg; 
  margin: 10px 0px 3px 0px;
  background:$po-order-form-bg;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  color: white;
  width: 50%;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  padding: 10px;
}

.col-20{
  float: left;
  width: 20%;
  margin-top: 6px;
}
.col-30 {
  float: left;
  width: 30%;
  margin-top: 6px;
}
.col-70 {
  float: left;
  width: 70%;
  margin-top: 6px;
}
.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-50, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.close {
  border: none;
  color:white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}
#close-icon{
  font-size: 1.5rem;
}

.cdk-overlay-pane.my-dialog {
  position: relative!important;
}
#text-cursor {
  cursor: text;
}
h2 {
  margin: 3px 3px 3px 5px;
  font-size: 20px;
  font-weight: bold;
}
#disedit-icon {
  font-size: 30px;
  color: white;
  text-align: center;
}
.image-wrap {
  padding: 10px;
  border: solid 1px #e0e0e0;
  display: inline-block;
}

.img-space {
  border-radius: 8px;
  height: auto;
  width: 70%;
  padding: 10px;
  min-height:175px;
}

.img-space img {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  cursor: pointer;
}

.fileInputProfileWrap {
  width: 100%;
  height: auto;
}

.fileInputProfile {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  opacity: 0;
}
.fileInputProfile[disabled] + .img-space{
  pointer-events: none;
  cursor: not-allowed!important;
}
#tax-box {
  background:$po-order-form-bg;
  border: 1px solid  $header-bg;
  border-radius: 5px;

}
#margin-box {
  background:$po-order-form-bg;
  border: 1px solid  $header-bg;
  border-radius: 5px;
}

#addproductpic-box {
  height: 150px;
  width: 150px;
  text-align: center;
  background: #272e34;
  border: none;
  box-shadow: none;
}
#addpicture-icon {
  font-size: 40px;
  color: #51575c;
  text-align: center;
  margin: 50px auto;
}
#productcode-box {
  background:$po-order-form-bg;
  border: 1px solid  $header-bg;
  height: 35px;
  border-radius: 5px;
}
#save-btn {
  width: 140px;
  height: 35px;
  background: $btn-bg;
  border: none;
  border-radius: $btn-border-radius;
}
#cancel-btn {
  width: 140px;
  height: 35px;
  background: #ff0000;
  border: none;
}
.btn-danger{
  margin-left: 25px;
}
.spanerror{
  background-color: $error-code;
}