<div class="row">
  <div class="col-4">
    <h4>Product List</h4> 
  </div>
  <div class="col-8">
    <div style="float: right;">
      <button (click)="addNewCategory(content)" class="create-button">
        <span class="fas fa-plus"></span> Category 
      </button>
      <button  (click)="addNewProduct(addnewproduct)" class="create-button">
        <span class="fas fa-plus"></span> 
        Product 
      </button>
  
      <button  (click)="addpromotion('Add Discount','discount')" class="create-button">
        <span class="fas fa-plus"></span> Discount 
      </button>

      <button  (click)="addpromotion('Add Free Gift','freegift')" class="create-button">
        <span class="fas fa-plus"></span> Free Gift 
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table" *ngIf="productTable">
      <thead>
        <tr>
          <th>Product Image</th>
          <th>Product Code</th>
          <th>Product Name</th>
          <th>Category Name</th>
          <th>Vendor Name</th>
          <th>Actual Price / Unit</th>
          <th class="txt-right">Margin</th>
          <th class="txt-right">Tax</th>
          <th class="txt-right wid-100px">Selling Price / Unit</th>
        </tr>
      </thead>
      <tbody *ngFor="let a of allproductlist; let i = index"> 
        <tr>
          <td>{{i}}</td>
          <td>{{a.prodcode}}</td>
          <td>{{a.productname}}</td>
          <td>{{a.categoryname}}</td>
          <td>{{a.vendorname}}</td>
          <td>
            <label *ngIf="a.price == null && a.unit == null"></label>
            <label *ngIf="a.price == null && a.unit !== null">{{a.unit}}</label>
            <label *ngIf="a.unit == null && a.price !== null">{{a.price}}</label>
            <label *ngIf="a.unit !== null && a.price !== null">{{a.price}}/{{a.unit}}</label>
          </td>
          <td class="txt-right">{{a.tax}}</td>
          <td class="txt-right">{{a.margin}}</td>
          <td class="txt-right wid-100px">{{a.sellingprice}} 
            <span class="edit-delete-icon user-icon">
              <span class="fas fa-pen mar-let-40px" (click)="allproducteditcall(a.prodcode,a.vendorcode)"></span>
              <span class="fas fa-trash" (click)="allproductdelete(a.prodcode)"></span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>  

<!-- Loading Image Start -->
<div class="row">
  <div class="col-6 col-md-6 col-xs-6 col-lg-6">			
    <img *ngIf="loadinggif" class="loadingimage" src="/assets/images/rotateload.gif"/> 
  </div>
  <div class="col-6 col-md-6 col-xs-6 col-lg-6">
  </div>
</div>
<!-- Loading Image End -->
<!-- <button class="btn btn-lg btn-outline-primary" (click)="addNewCategory(content)">Launch demo modal</button> -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">Hi there!</h4> -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="close-x">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form name="categoryForm" 
      (submit)="categoryForm.form.valid && saveCategory()"
      #categoryForm="ngForm" novalidate>   
          <div>
            <div *ngIf="show">
              <label> Code : {{model.categorycode}} </label>
            </div>
              <input type="text"  [(ngModel)]="model.name" 
                  #name="ngModel" placeholder="Enter Name"
                  id="name" name="name"  autocomplete="off" required>
  
              <div *ngIf="name.errors  && (name.dirty || name.touched) ||
                  (categoryForm.submitted && !name.valid )">
                  <span [hidden]="!name.errors.required" class="spanerror">
                      Required field cannot be left blank
                  </span>
              </div>
  
              <input type="text" [(ngModel)]="model.description" #description="ngModel"  
              id="description"
                  placeholder="Enter Description" name="description" autocomplete="off">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark">{{btnlabel}}</button>
          </div>  
      </form>
    </div>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div> -->
</ng-template>

<!--  Add Product Start -->
<ng-template #addnewproduct let-c="close" let-d="dismiss">
  <div class="modal-header my-class">       
    <div class="row" id="prodheader">
      <i class="fa fa-plus-circle" id="disedit-icon" aria-hidden="true"></i> 
      <h3>Add New Product</h3>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="close-x">&times;</span>
    </button>
  </div>
  <div class="modal-body my-class">
    <div class="container">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
          <form name="productForm" (ngSubmit)="productForm.form.valid && saveAddNewProduct(model.category)"
                #productForm="ngForm" novalidate>
                <div class="row">
                    <div class="col-30">
                        <label for="fname" class="heading">Category </label>
                    </div>
                    <div class="col-70">
                        <select id="editselect-box"  name="categorycode" [(ngModel)]="model.categorycode" 
                            #categorycode="ngModel" required>
                            <option [ngValue]="undefined" hidden selected> Select Product Category </option>
                            <option id="editselect-box" *ngFor="let itemcategory of categorylist" value="{{itemcategory.name}}-{{itemcategory.categorycode}}"> {{itemcategory.name}}-{{itemcategory.categorycode}} </option>
                        </select>

                        <div *ngIf="categorycode.errors  && (categorycode.dirty || categorycode.touched) ||
                            (productForm.submitted && !categorycode.valid )">
                            <span [hidden]="!categorycode.errors.required" class="spanerror">
                                Required field cannot be left blank
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-30">
                        <label for="fname" class="heading">Product Name </label>
                    </div>
                    <div class="col-70">
                        <input id="name-box" name="productname" [(ngModel)]="model.productname" 
                            #productname="ngModel" placeholder="Product Name" autocomplete="off" required>             

                        <div *ngIf="productname.errors  && (productname.dirty || productname.touched) ||
                            (productForm.submitted && !productname.valid )">
                            <span [hidden]="!productname.errors.required" class="spanerror">
                                Required field cannot be left blank
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-30">
                        <label for="fname" class="heading">Description </label>
                    </div>
                    <div class="col-70">
                        <textarea type="text" id="description-box" [(ngModel)]="model.description" 
                            #description="ngModel" placeholder="Product Description" name="description">
                        </textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-30">
                        <label for="fname" class="heading">Vendor </label>
                    </div>
                    <div class="col-70">
                        <select id="editselect-box" name ="vendorcode" [(ngModel)]="model.vendorcode"
                            #vendorcode="ngModel" required>
                            <option [ngValue]="undefined" hidden selected> Select Vendor </option>
                            <option id="editselect-box" *ngFor="let item of vendornamelist" 
                                value="{{item.vendorName}}-{{item.vendorcode}}"> {{item.vendorName}}-{{item.vendorcode}} </option>
                        </select>

                        <div *ngIf="vendorcode.errors  && (vendorcode.dirty || vendorcode.touched) ||
                            (productForm.submitted && !vendorcode.valid )">
                            <span [hidden]="!vendorcode.errors.required" class="spanerror">
                                Required field cannot be left blank
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-30">
                        <label for="fname" class="heading">Unit </label>
                    </div>
                    <div class="col-70">
                        <select id="editselect-box" name="unit" [(ngModel)]="model.unit"
                            #unit="ngModel" required>
                            <option [ngValue]="undefined" hidden selected> Select Unit </option>
                            <option id="editselect-box" *ngFor="let item of allUnitlist" 
                                value="{{item.unitname}}"> {{item.unitname}} </option>
                        </select>

                        <div *ngIf="unit.errors  && (unit.dirty || unit.touched) ||
                            (productForm.submitted && !unit.valid )">
                            <span [hidden]="!unit.errors.required" class="spanerror">
                                Required field cannot be left blank
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-30">
                        <label for="fname" class="heading">Price </label>
                    </div>
                    <div class="col-70">
                        <input type="text" id="price-box" 
                            [(ngModel)]="model.price" 
                            #price="ngModel" (ngModelChange)="getSellingPrice(model.price,model.tax,model.margin)"
                                placeholder="IDR X.XXX.XXX" name="price" autocomplete="off"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-30">
                        <label class="heading">Tax </label>
                    </div>
                    <div class="col-20">
                        <input type="text" id="tax-box"
                            [(ngModel)]="model.tax" 
                            #tax="ngModel" (ngModelChange)="getSellingPrice(model.price,model.tax,model.margin)"
                            placeholder="10%" name="tax" autocomplete="off"/>
                    </div>
                    <div class="col-30">
                        <label class="heading" style="margin-left: 30px;">Margin </label>
                    </div>
                    <div class="col-20">
                        <input type="text" id="margin-box"
                            [(ngModel)]="model.margin" 
                            #margin="ngModel" (ngModelChange)="getSellingPrice(model.price,model.tax,model.margin)"
                            placeholder="40%" name="margin" autocomplete="off"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-30">
                        <label for="fname" class="heading">Selling Price </label>
                    </div>
                    <div class="col-70">
                        <input type="text" id="productcode-box" [(ngModel)]="model.sellingprice" 
                            #sellingprice="ngModel" value="{{ model.sellingprice }}"
                            placeholder="IDR 30.000" name="sellingprice" readonly/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6">
                        <button type="submit" id="save-btn">Add</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
          <label id="text-cursor">Add Product Picture</label> 
            <div class="row">
                <div>
                    <fieldset> 
                        <div class="custom-file fileInputProfileWrap">
                            <input type="file" (change)="fileChangeEvent($event,0)" class="fileInputProfile">
                            <div class="img-space">   
                                <div *ngIf="isImageSaved0; else elseTemplate" id="addproductpic-box">
                                    <img [src]="productImage[0]" />
                                </div>
                                <ng-template #elseTemplate>
                                    <div id="addproductpic-box">
                                        <i class="fa fa-plus-circle" id="addpicture-icon" aria-hidden="true"></i> 
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div>
                            <a class="btn btn-danger" *ngIf="isImageSaved0" (click)="removeImage(0)">Remove </a>
                        </div>
                    </div>
                    
                </div> 
                &nbsp;
                <div>   
                    <fieldset> 
                        <div class="custom-file fileInputProfileWrap">
                            <input type="file" (change)="fileChangeEvent($event,1)" class="fileInputProfile">
                            <div class="img-space">   
                                <div *ngIf="isImageSaved1; else elseTemplate" id="addproductpic-box">
                                    <img [src]="productImage[1]" />
                                </div>
                                <ng-template #elseTemplate>
                                    <div id="addproductpic-box">
                                        <i class="fa fa-plus-circle" id="addpicture-icon" aria-hidden="true"></i> 
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div>
                            <a class="btn btn-danger" *ngIf="isImageSaved1" (click)="removeImage(1)">Remove </a>
                        </div>
                    </div>
                  
                </div>
            </div>
          
            <!-- Second Image Row -->  
            <div class="row">
                <div>
                    <fieldset> 
                        <div class="custom-file fileInputProfileWrap">
                            <input type="file" (change)="fileChangeEvent($event,2)" class="fileInputProfile">
                            <div class="img-space">   
                                <div *ngIf="isImageSaved2; else elseTemplate" id="addproductpic-box">
                                    <img [src]="productImage[2]" />
                                </div>
                                <ng-template #elseTemplate>
                                    <div id="addproductpic-box">
                                        <i class="fa fa-plus-circle" id="addpicture-icon" aria-hidden="true"></i> 
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div>
                            <a class="btn btn-danger" *ngIf="isImageSaved2" (click)="removeImage(2)">Remove </a>
                        </div>
                    </div>
                </div> 
                &nbsp;
                <div>   
                    <fieldset> 
                        <div class="custom-file fileInputProfileWrap">
                            <input type="file" (change)="fileChangeEvent($event,3)" class="fileInputProfile">
                            <div class="img-space">   
                                <div *ngIf="isImageSaved3; else elseTemplate" id="addproductpic-box">
                                    <img [src]="productImage[3]" />
                                </div>
                                <ng-template #elseTemplate>
                                    <div id="addproductpic-box">
                                        <i class="fa fa-plus-circle" id="addpicture-icon" aria-hidden="true"></i> 
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div>
                            <a class="btn btn-danger" *ngIf="isImageSaved3" (click)="removeImage(3)">Remove </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Add Product End -->