* {
  font-size: 13px;
  color: white;
}
::ng-deep .productedit .mat-dialog-container {
  background-color: #434f5b;
  width: 850px;
  height: 580px;
  padding: 17px;
}
h2 {
  margin: 3px 3px 3px 5px;
  font-size: 20px;
  font-weight: bold;
}
#discountedit-secondlayer {
  background: #333c45;
  height: 100%;
  width: 100%;
}
#disedit-icon {
  font-size: 20px;
  color: black;
  text-align: center;
  margin: 5px;
}
#editicon-background {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 15px;
}
#editselect-box {
  width: 220px;
  height: 35px;
  background: #272e34;
  border: none;
  box-shadow: none;
}
#name-box {
  width: 220px;
  height: 35px;
  background: #272e34;
  border: none;
  box-shadow: none;
}
#description-box {
  width: 220px;
  height: 75px;
  background: #272e34;
  border: none;
  box-shadow: none;
  font-size: 10px;
}
#productcode-box {
  background-color: #999999;
  width: 220px;
  height: 35px;
  color: black;
}
#productcode-box2 {
  background-color: #999999;
  width: 190px;
  height: 35px;
  color: black;
}
#tax-box {
  width: 60px;
  height: 35px;
  background: #272e34;
  border: none;
  box-shadow: none;
  margin-left: 85px;
}
#margin-box {
  width: 60px;
  height: 35px;
  background: #272e34;
  border: none;
  box-shadow: none;
}
#price-box {
  width: 190px;
  height: 35px;
  background: #272e34;
  border: none;
  box-shadow: none;
}
#picture-box {
  height: 130px;
  text-align: center;
  background: #272e34;
  border: none;
  box-shadow: none;
}
#chooseimg-box1 {
  width: 80px;
  height: 60px;
  background: #272e34;
  border: none;
  box-shadow: none;
}
#chooseimg-box2 {
  width: 80px;
  height: 60px;
  background: #272e34;
  border: none;
  box-shadow: none;
  margin-top: 10px;
}
#pictureedit-icon2 {
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 5px;
}
#pictureedit-icon3 {
  font-size: 15px;
  color: white;
  text-align: center;
  margin: 5px;
}
#edit-round {
  width: 40px;
  height: 40px;
  background-color: #272e34;
  border: 2px solid white;
  border-radius: 35px;
  margin: 15px 0px 0px 80px;
}
#edit-round2 {
  width: 30px;
  height: 30px;
  background-color: #272e34;
  border: 2px solid white;
  border-radius: 35px;
  margin: -5px 0px 0px 25px;
}
#save-btn {
  width: 140px;
  height: 35px;
  background: #51af57;
  border: none;
}
#cancel-btn {
  width: 140px;
  height: 35px;
  background: #ff0000;
  border: none;
}
label {
  cursor: text;
}
